In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("data.csv")

In [2]:
#Q1
print(np.__version__)

1.21.5

In [4]:
#Q2
print(df.shape[0])
#or
print(len(df.index))

11914
11914

In [6]:
#Q3
print(df['Make'].value_counts().head(3))

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [7]:
#Q4
print(len(df.loc[df['Make'] == "Audi"]["Model"].value_counts()))

34

In [14]:
#Q5
df.isnull().any().sum()

5

In [16]:
#Q6.
#median
df['Engine Cylinders'].median()
#most frequent
df['Engine Cylinders'].mode()
result = df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode().iloc[0])
result.median()

6.0

In [18]:
#Q7
lotus = df[['Engine HP', 'Engine Cylinders']][df['Make'] == "Lotus"]
lotus = lotus.drop_duplicates()
X = lotus.to_numpy()
#or X=lotus.__array__()
XTX = X.T @ X
XTXI = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

res = XTXI @ X.T @ y

print(res[0])

4.594944810094551